/**{
	border: 1px solid red;
	margin: red;
}*/


/****************************generales{****************/

	body {
		font-family: 'Roboto', sans-serif;
		font-family: 'Montserrat', sans-serif;
		margin: 0;
	}
	p {
	  font-size: 14px;
	  font-family: "Roboto";
	}	

	header{
		padding: 20px 0;
		box-sizing: border-box;
		text-transform: uppercase;
		color: #FFFFFF;			
	}

	h4{
		font-family: 'Montserrat';
		color: #333333;
	}

	ul {
	    list-style: none;
	    margin: 0;
		padding: 0;
		border: 0;
		vertical-align: baseline;
	}


/****************************}generales****************/

/****************************tipografia{****************/
	.titulo {
		font-family: 'Montserrat', sans-serif;
		font-size: 52px;
		margin-bottom: 0;
		margin-top: 175px;
		text-transform: uppercase;
		text-align: center;
	}	

	.titulo-seccion {
		font-size: 22px;
		font-family: "Montserrat";
		font-weight: 700;
		color: #565656;
		text-align: center;
	}	

	.subtitle {
		margin-top: 0;
		font-family: 'Roboto', sans-serif;
		font-size: 24px;
		font-weight: 300;
		text-align: center;
	}

	.descripcion{
		font-family: Roboto;
		font-size: 14px;
		color: #666666;
		text-align: center;
	}
/****************************}tipografia****************/

/******************botones{****************************/
	.button {
	  border-radius: 20px;
	  border: none;
	  color: white;
	  padding: 8px 24px;
	  cursor: pointer;
	  text-decoration: none;
	  font-size: 18px;
	  background: #ff4e50;
	 }	

	.button-small {
	  border-radius: 20px;
	  border: none;
	  color: white;
	  padding: 8px 24px;
	  cursor: pointer;
	  text-decoration: none;
	  font-size: 12px;
	  background: #ff4e50;
	 }	

	 .button-b {
	  border-radius: 20px;
	  border: 3px solid #ff4e50;
	  color: #ff4e50;
	  padding: 8px 24px;
	  cursor: pointer;
	  text-decoration: none;
	  font-size: 14px;  
	  background: #ffffff;
	  font-family: 'Montserrat', sans-serif;
	  font-weight: 700;
	 }

	 .button-b:hover {
		background-color: #ff4e50;
		color: white;
	 }
/******************}botones****************************/


/****************************portada{****************************/
	.background {
	  background-image: url(../img/portada.png);
	  background-size: cover;  
	}	

	.portada {
	  color: white;
	  padding: 20px;
	  height: 700px;
	}	

	.logotipo {
		font-size: 20px;
		font-weight: bold;
		display: inline-block;
	 	margin-left: 0;
	}	

	.menu {
	  font-size: 20px;
	}	

	.menu a {
	  color: white;
	  text-decoration: none;
	}
/****************************}portada****************************/


/****************************footer{****************************/
	.footer {
	  	border-top: 3px solid #ff4e50;
	  	width: 100%;
	  	margin-bottom: 20px;
	  	margin-top: 20px;
	 }	

		.footer-menu {
			font-size: 14px;
			color: #a9a9a9;
			text-align: left;			
		 }	

		.footer-menu-a a{
			text-decoration: none;
			color: #666666;
		}	

		.footer-menu-a li {
			text-decoration: none;
			font-size: 14px;
			margin-bottom:3px;
			text-align: left;
   			padding-left: 0;    			
		 }		

		.footer-logo {
			font-size: 16px;
			font-weight: bold;
			color: #ff6762; 
			text-align: left;  	
		 }

		 .design{
		 	text-align: left;		 	
		 	font-style: italic;	 	
		 }	
/****************************}footer****************************/


/****************************como-funciona{****************************/
	.pasos-texto{
		margin-top: 200px;	
	}

	.pasos-1{
		background:-webkit-linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.5));
		background:-o-linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.5));
		background:linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.5)), url(../img/pasos1.png);
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 4px;
		max-width: 300px;		
		color: white;
		padding: 10px;
		margin-bottom: 2%;
	}	

	.pasos-2{
		background:-webkit-linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.5));
		background:-o-linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.5));
		background:linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.5)), url(../img/pasos2.png);
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 4px;
		max-width: 300px;		
		color: white;
		padding: 10px;
		margin-bottom: 2%;
	}
	.pasos-3{
		background:-webkit-linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.5));
		background:-o-linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.5));
		background:linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.5)),url(../img/pasos3.png);
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 4px;
		max-width: 300px;		
		color: white;
		padding: 10px;
		margin-bottom: 2%;
	}
/****************************}como-funciona****************************/

/****************************partner{****************************/
	.parter-img {
		border-radius: 50%;
	}

	.partner-icono {
		position: absolute;
		background-color: black;
		padding: 5px;
 		border-radius: 50%;
 		border-style: solid;
		border-width: 2px;
 		border-color: #ffffff;
 		width: 16px;
 		top:100px;
 		left: 125px;				
	}

	.rojo {    	
    	background-color: #ff4e50;
   	}

	.verde {
    	background-color: #1cd7ad; 
	}

	.amarillo {
		background-color: #ffa507;
	}

	.azul {
		background-color: #4e73db;
	}

	.partner-info {
		position: relative;
		max-width: 200px;
		max-height: 250px;		 
	}

	.partners-button{
		margin:5px;
	}
/****************************}partner****************************/

/****************************actividades{****************************/

	.actividades {
	  font-size: 20px;	  	
	  right: 0;	  
	  font-family: "Montserrat";
	  text-align: center;	  	  	 
	}

	.actividades li {
	  	border-radius: 4px;	    
	  	font-weight: 700;	 	
	 	margin-bottom: 1%;	 	
	 	text-decoration: none;
	 	color: white;	 		 	
	 	line-height: 310px;
	 	margin-left: 2%; 		 			
	}

	.actividades a {
		text-decoration: none;		
		color: white;					
	}
	

	.actividades-1{
		background:-webkit-linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.5));
		background:-o-linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.5));
		background:linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.5)), url(../img/actividades1.png);
		background-repeat: no-repeat;
		background-size: cover;
		width: 300px;
	}

	.actividades-2{
		background:-webkit-linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.5));
		background:-o-linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.5));
		background:linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.5)), url(../img/actividades2.png);
		background-size: cover;	
		width: 300px;
	}	
	
	.actividades-3{
		background:-webkit-linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.5));
		background:-o-linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.5));
		background:linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.5)), url(../img/actividades3.png);
		background-size: cover;
		width: 300px;		
	}

	
	.actividades-4{
		background:-webkit-linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.5));
		background:-o-linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.5));
		background:linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.5)), url(../img/actividades4.png);
		background-size: cover;
		width: 300px;
	}	

	.actividades-5{
		background:-webkit-linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.5));
		background:-o-linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.5));
		background:linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.5)), url(../img/actividades5.png);
		width: 630px;
	}	
/****************************}actividades****************************/


/****************************buscador{***************************/
	.buscador{		
		text-align: center;								
	}

	.buscador-input{		
		border-radius: 4px;
	    border-style: solid;
	    border-width: 1px;
	    border-color: #cccccc;
	    background-color: #ffffff;  
    	padding-left: 16px;
   		font-size: 14px;
   		font-weight: 300;
   		text-align: left;   		
   		margin-right: 20px;
	}

/****************************}buscador***************************/